.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* avatar 기본값 (가장 작은값) */
.friend .friend__avatar {
  width: 50px;
  height: 55px;
  border-radius: 38%;
}

.message .message__avatar {
  width: 50px;
  height: 55px;
  border-radius: 30%;
}

/* 제일 큰 아바타- friends: 마이프로필/ more 페이지 프로필 */
.friend__avatar.g-avatar {
  width: 60px;
  height: 70px;
}

/* 중간 사이즈 아바타 */
.friend__avatar.m-avatar {
  width: 60px;
  height: 60px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend__column .friend__avatar {
  margin-right: 20px;
}

/* 친구이름- 상태창과 거리위해 margin-bottom */
.friend__content .friend__name {
  display: block;
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 500;
}
/* 상태창 + chats부분 bottom-text */
.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend__content .friend__status,
.friend .chat__timestamp {
  font-size: 12px;
}

/* 듣고 있는 노래 디자인 */
.friend .friend__now-listening {
  border: 2px solid #54cd79;
  border-radius: 15px;
  padding: 5px 15px;
}

.friend .friend__now-listening span {
  opacity: 0.8;
}

.friend .friend__now-listening i {
  font-size: 12px;
  color: #54cd79;
}
